/* Util
 * Author: bhuelga
 */


/*   CONSTANTS   */

// transition durations
$duration-fast : .1s;
$duration : .3s;
$duration-slow : .5s;

// z-indices
$menu-nav : 600;
$modal: 500;
$modal-overlay: 400;
$popup: 300;
$popup-overlay: 200;
$misc: 100;

// colors

$primary-dark: rgb(0, 37, 102);
$primary: rgb(65, 101, 163);
$primary-light: rgb(220, 235, 245);
$bg-dark : #2D2D2D;



/*   GENERAL   */

* { box-sizing: border-box; }

html {
  font-size: calc(1rem + .5vw);
  font-family: 'Lato', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 2560px;
  height: auto;

  position: relative;
  margin: 0 auto;

  background: white;
}

::-webkit-scrollbar {
    width: 10px;

    &-track { background: gray; }
    &-thumb {
      background: $primary-light;
      &:hover { background: $primary; }
    }
}




/*   MIXINS   */

@mixin transition($params) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params;
}

@mixin scale($params) {
	-webkit-transform: scale($params);
	-moz-transform: scale($params);
	-ms-transform: scale($params);
	transform: scale($params);
}

 @mixin rotate($params) {
    -webkit-transform: rotate($params);
    -moz-transform: rotate($params);
    -ms-transform: rotate($params);
    -o-transform: rotate($params);
    transform: rotate($params);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false, $spread: 0) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin border-radius($params) {
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}