/* Terms of Service and Privacy Policy
 * Author: bhuelga
 * -----------------
 */

@import "./util.scss";

.tos-pp-header {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	color: white;
	background-color: $one-cyan;

	@include transition(.3s);
}

.tos-pp-content {
	margin: 50px 15%;

	color: $black;
	line-height: 2rem;
	@include transition(.3s);
}

@media screen and (min-width: 380px) {
	.tos-pp-header {
		font-size: 3rem;
	}
}

@media screen and (min-width: 645px) {
	.tos-pp-header {
		height: 400px;
		font-size: 5rem;
	}

	.tos-pp-content {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1400px) {
	.tos-pp-content {
		margin: 50px 20%;

		line-height: 2.5rem;
	}
}