/* Manifest
 * Author: bhuelga
 */
/* Util
 * Author: bhuelga
 */
/*   CONSTANTS   */
/*   GENERAL   */
* {
  box-sizing: border-box; }

html {
  font-size: calc(1rem + .5vw);
  font-family: 'Lato', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  max-width: 2560px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: white; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background: gray; }
  ::-webkit-scrollbar-thumb {
    background: #dcebf5; }
    ::-webkit-scrollbar-thumb:hover {
      background: #4165a3; }

/*   MIXINS   */
/* Home Screen
 * Author: bhuelga
 * -----------------
 * Styles elements that are used on multiple pages of the site.
  */
#header-content {
  height: 800px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #002566; }
  #header-content a {
    color: #4165a3;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s; }
    #header-content a:hover {
      color: #dcebf5; }
